{% extends 'myapp/base.html' %}

{% block title %}Изменение продукта{% endblock %}

{% block content %}
<h2>Изменение данных</h2>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label>Наименование</label><br>
        <input type="text" name="name" value="{{product.name}}" />
    </p>
    <p>
        <label>Цена</label><br>
        <input type="number" step="0.01" min="0" placeholder="0,00" name="price" value="{{product.price}}" />
    </p>
    <p>
        <label>Количество</label><br>
        <input type="number" name="quantity" value="{{product.quantity}}" />
    </p>
    <p>
        <label>Описание</label><br>
        <input type="text" name="description" value="{{product.description}}" />
    </p>
    <p>
        <label>Изображение</label><br>
        <input type="file" name="image" value="{{product.image}}" />
    </p>
    <input type="submit" value="Сохранить" >
</form>
{% endblock %}